<html>
<head>
    <title>	adfw1 </title>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <style type="text/css">
    	body
{
  background-color: #fcfcfc;
}
.center-div
{
  margin-top: 130px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 80px;
  background-color: #ccc;
  border-radius: 3px;
  margin-top: 20px;
}
    </style>
</head>
<body>
<div>
	<div class="center-div" style="font-size:200%;"><center>CAREWORKS FOUNDATION</center>
  </div>
	<div class="jumbotron" style="margin:50px;">
    <h2 style="margin-left: 50px;">Scheduled Names</h2>   
    
    <ol style="margin-left: 50px;font-size: 30px;">
    <li><a href="/adfw2">School 4 - Sam Govt school</a></li>
    <li><a href="/adfw2">School 7 - dan Govt school</a></li>
    <li><a href="/adfw2">School 9 - fox Govt school</a></li>
    </ol>
  </div>
</div>
</body>
</html>