<html>
<head>
    <title>	admone </title>
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <style type="text/css">
    	body
{
  background-color: #fcfcfc;
}
.center-div
{
  margin-top: 130px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 80px;
  background-color: #ccc;
  border-radius: 3px;
  margin-top: 20px;
}
    </style>
</head>
<body>
<div>

	<div class="center-div" style="font-size:200%;"><center>CAREWORKS FOUNDATION</center></div>
    <div class="jumbotron" style="margin:50px;">


  </div>
    <button><a href="/adfw2">progress</a></button>
	<div class="jumbotron" style="margin:50px;">
    <h2 style="margin-left: 50px;">Existing projects</h2>

    <ol style="margin-left: 50px;font-size: 30px;">
  <!-- <li>School 4 - Sam Govt school</li>
  <li>School 7 - dan Govt school</li>
  <li>School 9 - fox Govt school</li> -->
  {% for row in exresults %}
        <table>
        <tr>
          <th>

              <h2>Name:{{row[0]}}</h2>

          </th>
          </tr>
            <tr>
                <th>
                    <h2>Location:{{row[1]}}</h2>

                </th>
            </tr>
            <tr>
                <th>
                    <h2>Address:{{row[2]}}</h2>

                </th>
            </tr>
            <tr>
                <th>
                    <h2> Date:{{row[3]}}</h2>

                </th>
            </tr>

            <tr>
                <th>
                    <h2>number 0f students:{{row[4]}}</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <h2>status:{{row[5]}}</h2>
                </th>
            </tr>

  {% endfor %}


</ol>
  </div>
    	</div>


</body>